.popup__close-icon {
    background: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    margin: -40px -40px 8px 0;
    align-self: flex-end;
    border-style: none;
    cursor: pointer;
}

.popup__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 577px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        margin-top: -36px;
        margin-right: 0;
        margin-bottom: 16px;
    }
}