.popup__line {
    max-width: 358px;
    height: 0px;
    opacity: 0.2;
    border: 1px solid #000000;
    margin: 0 36px 0;
}

@media screen and (max-width: 505px) {
    .popup__line {
        width: 74.3vw;
        margin: 0 auto 0;
    }
}