.profile__subtitle {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 16px 0 0 0;
}

@media screen and (max-width: 768px) {
    .profile__subtitle {
        margin-top: 10px;
        font-size: 14px;
        line-height: 17px;
    }
}