.popup__span {
    display: block;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    min-height: 30px;
    color: #FF0000;
    visibility: hidden;
    margin: 0 36px 13px 36px;
}

.popup__span:last-of-type {
    margin-bottom: 31px;
}