.popup__submit {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    border-style: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 48px auto 37px;
    cursor: pointer;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media screen and (max-width: 505px) {
    .popup__submit {
        width: 238px;
        height: 46px;
        margin: 45px auto 25px;
        font-size: 14px;
        line-height: 17px;
    }
}