.popup__close-icon {
    background: url(../../../images/close-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    margin-top: -40px;
    margin-bottom: 8px;
    margin-left: 37vw;
    border-style: none;
    cursor: pointer;
}

.popup__close-icon:hover {
    opacity: 0.6;
}

@media screen and (max-width: 1024px) {
    .popup__close-icon {
        margin-left: 47%;
    }
}

@media screen and (max-width: 768px) {
    .popup__close-icon {
        margin-left: 65%;
    }
}

@media screen and (max-width: 505px) {
    .popup__close-icon {
        width: 20px;
        height: 20px;
        margin-top: -36px;
        margin-left: 81.5vw;
        margin-bottom: 16px;
    }
}