.popup__form {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    width: 88vw;
    margin: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}