.popup__field-name {
    width: 358px;
    height: 27px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border-style: none;
    margin: 0 36px 0;
}

@media screen and (max-width: 505px) {
    .popup__field-name {
        width: 74.3vw;
        height: 22px;
        margin: 0 auto 0;
    }
}