.popup__title {
    width: 330px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 34px 0 44px 36px;
}

@media screen and (max-width: 505px) {
    .popup__title {
        width: 74.3vw;
        font-size: 18px;
        line-height: 22px;
        margin: 25px auto 70px;
        text-align: center;
    }
}