.elements__counter-likes {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 3px 0 0;
    text-align: center;
    color: #000000;
}