.popup__field {
    width: 358px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    border-style: none;
    margin: 0 auto 27px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 27px;
    text-decoration: none;
}

.popup__field:last-of-type {
    margin-bottom: 0;
}

.popup__field:invalid {
    border-bottom: 1px solid rgba(255, 0, 0, 1);
    margin-bottom: 5px;
}

@media screen and (max-width: 505px) {
    .popup__field {
        width: 74.3vw;
    }
}